/*controls size of the page*/
html {
max-height: 300px;
height: 300px;
}

/*parallax scrolling*/
.parallax {
/*    sets image and size*/
  background-image: url("../images/farm3.jpg");
  min-height: 500px; 
  max-height: 500px;
/*keeps the image fixed (still, in one place) on the screen*/
  background-attachment: fixed;
/*    centers the image*/
/*  background-position: center;*/
/*    single image*/
  background-repeat: no-repeat;
/*    fills the space*/
  background-size: cover;
}
   
/*dropdown button formatting*/
.dropbtn {
  background-color: goldenrod;
  color: white;
  padding: .7em;
/*  font: 1em Georgia, "Times New Roman";*/
  font-family: Tahoma, Arial, sans-serif;
  border: none;
  border-radius: .4em;
}

/*formats positing and sizing abilities of the dropdown menu*/
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1.5em;
  margin-top: 1.5em;
}

/*dropdown menu elements*/
.dropdown-content {
/*hides dropdown menu*/
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  min-width: 160px;
  box-shadow: 1px 8px 16px 0px rgba(0,0,0,0.2);
/*sets stack order*/
  z-index: 1;
/*  font: 1em Georgia, "Times New Roman";*/
  font-family: Tahoma, Arial, sans-serif;
}

/*formats links in dropdown*/
.dropdown-content a {
  color: black;
  padding: .6em;
  text-decoration: none;
/*displays as block element*/
  display: block;
/*  font-family: Georgia, "Times New Roman";*/
  font-family: Tahoma, Arial, sans-serif;
}

/*when the user hovers over the dropdown options*/
.dropdown-content a:hover {
    background-color: goldenrod;
}

.dropdown-content a:link {
    color: black;
}

.dropdown-content a:visited {
    color: black;
}

/*displays the dropdown menu when the button is hovered over*/
.dropdown:hover .dropdown-content {
    display: block;
}

/*changes button color when hovered over*/
.dropdown:hover .dropbtn {
    background-color: darkgoldenrod;
}
    
.centered {
  color:white;
/*    luminari*/
  font: 3em Georgia, "Times New Roman";
  position: absolute;
/*postions the text so that it is centered on the parallax scrolling*/
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
h1 {
    margin-top: 2em;
    text-emphasis: none;
    text-align: center;
}
h2, h3, p {
    /*arial  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! TAHOMA*/
/*    font-family: Georgia, "Times New Roman";*/
    font-family: Tahoma, Arial, sans-serif;
    
}

p {
    margin-left: 3em;
}

h2{
    color: steelblue;
    font-size: 3.5em;
    font-style: normal;
    text-align: center;
}  

h3 {
    font-size: 2.5em;
/*    font-weight: bold;*/
    color: goldenrod;
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
}

/*formats size, shape, and border of image*/
img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin-right: 1em;
    margin-bottom: 0em;
    margin-left: .2em;
    margin-top: 0em;
}

/*provides inner background to the text*/
.content{
    margin-bottom: 6em;
    text-align: center;
}

/*removes margins*/
body {
    margin: 0em;
}

a:link {
    color: steelblue;
}

a:visited {
    color: darkblue;
}


/* The side navigation menu */
.sidenav {
  font-family: Tahoma, Arial, sans-serif;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Color change with hover */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
/*  color: white;*/
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.buttons {
    padding-top: 2em;
    padding-left: 2em;
}

.menu {
    color: steelblue;
}

* {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width: 65%;
  padding: 5px;
}
                
.column2 {
  float: left;
  width: 30%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*Parallax scrolling refrence https://www.w3schools.com/howto/howto_css_parallax.asp*/
/*Dropdown menu refrence - https://www.w3schools.com/howto/howto_css_dropdown.asp*/
/*responsive menu refrence - https://www.w3schools.com/howto/howto_css_responsive_header.asp*/
/*updated dropdown menu refrences*/
/*https://www.w3schools.com/howto/howto_js_sidenav.asp*/
/*https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp*/
/*https://www.w3schools.com/howto/howto_css_menu_icon.asp*/